*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-display: swap;
    text-decoration: none;
  
    
/* ------------------------------------------------------------------- */
}
body{
    background-color: gainsboro;

}

html{
    scroll-behavior: smooth;
}


/* ------------------------------------------------------------------------- */
.Social-logo{   
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    justify-content: right;
    height: 50px;
}
.Social-logo ul{
    margin-right: 3rem;
}
.Social-logo ul img{
    margin: .7rem;
    width: 1.2rem;
}
.Nav-Bar{
    background-color: rgb(4, 4, 48);
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar-logo{
    width: 13.5rem;
    margin-left: 2rem;
}

ul{
margin-right: 4rem;

}

ul li a{
    text-decoration: none;
    margin: 1rem;
    color: white;
    font-size: 15px;
    letter-spacing:5px;
    font-family: "Questrial", Sans-serif;
    font-style: normal;
}

#check{
    display: none;
}

.bar{
    display: none;
}
/* --------------------------------------------------------------------------------------------------- */




.First-Half{
  background-image: url(https://images.unsplash.com/photo-1637512619255-9fe9445a06c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
    height: 45rem;
    line-height: 4rem;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.First-Half h1{
    padding-left: 4rem;
    color: #ffffff;
    font-family: "Questrial", Sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    letter-spacing: 0.4px;
    font-weight: 600;

}
.First-Half p{
    padding-left: 4rem;
    margin-right: 41rem;
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.7em;
}
    
/* ----------------------------------------------------------------------------------------------------- */


.Secound-Half{
   display: flex;
   flex-wrap: wrap;
   margin-top: 40px;   
   justify-content: space-between;
   padding: 50px;
}
.secound-h3{
   width: 30%;
   text-align: left; 
}
.sec-p{
    color: #464646;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/* -------------------------------- */


.Third{
    background-color: gainsboro;
}

.viewour{
    padding-left: 4rem;
    background-color: gainsboro;
    font-family: "Questrial", Sans-serif;
    font-size: 3em;
    font-style: normal;
    letter-spacing: 0.4px;
}

.para{
    padding: 4rem; 
    color: #464646;
    font-family: "Roboto", Sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.6rem;
    text-align: justify;
    
}

.fourth{
    display: flex;
    flex-wrap: wrap;
}
.photo{
    width: 33.3%;
}
.five{
    display: flex;
    background-color: rgb(4, 4, 48);

}
.Theyh1{
    color: #FFFFFF;
    font-family: "Questrial", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.3px;
    margin-top: 11px;
    margin-top: 5rem;
    margin-left: 5rem;
}
.MOC{
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6rem;
    margin-top: 2rem;
    font-style: normal;

}

.fivephoto{
    width: 600px;
    padding: 5rem;
    height: 500px;
    position: relative;
}
.KenHehir{
    color: #ffffff;
    text-align: right;
    font-family: "Roboto", Sans-serif;
    font-style: normal;
    margin-top: 20px;



}

.FormerCEO{
    color: #ffffff;
    text-align: right;
    font-family: "Roboto", Sans-serif;
    font-size: 1rem;
    font-weight:1;
    margin-top: 1rem;

}
.six{

    display: flex;
    flex-direction: column;
    padding: 4rem;
}
.Meeth1{
    font-size: 33px;
    margin-bottom: 3rem;
}
.startedp{
    color: #464646;
    font-family: "Roboto", Sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.6em;
    margin-bottom: 3rem;

}
.startedp2{
    font-size: 1rem;
    margin-bottom: 3rem;
    color: #3573A8;
    font-family: "Questrial", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.3px;
    margin-top: 11px;
}
.startedp3{

    color: #464646;
    font-family: "Roboto", Sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.6em;
}
.sevenphoto{
    width: 100%;
    height: 30rem;
}
.eight{
    display: flex;
    justify-content: center;
    
}
.Jason{
    text-align: center;
    width: 20%;
    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 3rem;
}

.Chris{
    text-align: center;
    width: 20%;
    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 3rem;
}

.Jeff{
    
    width: 30%;
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 3rem;
}
.last{
    display: flex;
    

}
.Jasonnine1{
    margin-left: 310px;
    margin-top: 10px;
}
.Jasonnine2{
    margin-left: 170px;
    margin-top: 10px;
}
.Jasonnine3{
    margin-left: 240px;
    margin-top: 10px;
}
.Jasonnineimg{
    width: 30%;
    margin: 0px;
}

.elevanp{
    display: flex;
    padding: 60px;
}
.Let{
    color: var( --e-global-color-4ad5899 );
    font-family: "Questrial", Sans-serif;
    font-size: 2.8em;
    font-style: normal;
    letter-spacing: 0.4px;
    margin-top: 120px;
    margin-left: 60px;
}
.elevanp{
    color: #464646;
    font-family: "Roboto", Sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.6em;
}

.footer{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;

}
.footerlogo{
    width: 120px;
    margin-left: 50px;
}

.copyright {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.6em;
    margin-right: 51px;}




/* --------------media query------------------- */

@media (max-width:1000px){
    
.Social-logo {
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    justify-content: center;
    height: 50px;
}
.Social-logo ul {
    margin-right: 0rem;
}
ul{
    background-color: turquoise;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: fixed;
    left: -100%;
    height: 50px;
    transition: .9s;
    margin-top: 175px;

}
ul li a{
    font-size: 10px;
    margin: 14px;
    line-height: 50px;
    color: black;
}

.bar{
    display: block;
    margin-right: 30px;
    
}
.Nav-Bar{
    position: fixed;
    margin-top: -50px;
    width: 100%;
}

#check:checked ~ ul {
    left: 0px;
}

.First-Half h1{

    font-size: 2.5rem;
}

.First-Half p {
    padding-left: 2rem;
    margin-right: 1rem;
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.7em;
    margin-top: -40px;
}
.First-Half{

    height: 450px;
}

.Secound-Half{
    display: flex;
    margin-top: 40px;   
    flex-direction: column;
 }
 .secound-h3{
    text-align: center;
    width: 100%;
 }
 .Secound-Half p{
     color: #464646;
     font-family: "Roboto", Sans-serif;
     font-size: 0.9rem;
     font-weight: 300;
     line-height: 1.5em;
     margin-top: 30px;
     text-align: justify;

 }
.five{

    display: flex;
    flex-direction: column;
}
 .fivephoto {
    width: 100%;
    padding: 5rem;
    height: 400px;
    position: static;
}
.Theyh1{
    margin-left: 20px;
    font-size: 20px;
}

.MOC{
    font-size: 14px;
    padding: 20px;
    text-align: justify;
    padding-right: 40px;
}

.KenHehir{
    margin-right: 50px;
    font-size: 18px;
}

.FormerCEO{
    margin-right: 30px;
}

.six{
    margin: 0;
    padding: 0;
}
.Meeth1{
font-size: 30px;
margin-left:30px;
margin-top: 30px;

}

.startedp{
    margin-left:30px;
    margin-top: -10px;
    margin-right: 30px;
    text-align: justify;

}

.startedp2{
    margin-left:30px;
    margin-top: -10px;
    margin-right: 30px;
    text-align: justify;

}

.startedp3{
    margin-left:30px;
    margin-top: -10px;
    margin-right: 30px;
    text-align: justify;
}

.sevenphoto{
    height: auto;
    width: 100%;
    margin-top: 50px;
}
.Jason{
    font-size: 10px;
}
.last{
justify-content: center;}

.Jasonnine{
   width: 50px;
   margin: 18px;
}
.Let {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 29px;
}
.elevanp{
    padding: 30px;
    text-align: justify;
    
}
.copyright {

    font-size: 12px;
    line-height: .1em;
    margin-right: 20px;
}
.footerlogo {
    width: 80px;
    margin-left: 20px;
}
.viewour{
    font-size: 30px;
    padding: 0px;
    padding-left: 50px;
    margin-top: -30px;
}
}

